<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205948383434-so5pvup2n8mfbtvtrpigpdj3b0ld4c0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205948383434-so5pvup2n8mfbtvtrpigpdj3b0ld4c0f</string>
	<key>API_KEY</key>
	<string>AIzaSyBMFKhJNP6TdE-UKugFdmdDg7_VzA8xB8U</string>
	<key>GCM_SENDER_ID</key>
	<string>205948383434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yummy.test-yummy</string>
	<key>PROJECT_ID</key>
	<string>testyummy-26178</string>
	<key>STORAGE_BUCKET</key>
	<string>testyummy-26178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205948383434:ios:24a5f1d891b43c6f468433</string>
</dict>
</plist>